<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Likes</strong>
  <% @likes.each do |likes| %>
  <div class="card">
    <div class="card-header">
      <td><img class="avatar" src="<%= likes.user.avatar %>" alt="avatar"></td>
      <td><%= likes.user.username %> </td>
    </div>
  </div>

  <% end %>
</p>

<%= link_to 'Back', tweets_path %>
